<!-- jumbotron --> 
<div class="row"> 
  <div class="jumbotron">
    <div class="container">
      ...
    </div>
  </div>

</div> 


<!-- content--> 
<h1>Pages#profile</h1>
<div class="row"> 
  <div class="col-md-3"> 

    <div class="panel panel-default"> 
      <div class="panel-body"> 
        <p> Hello </p> 
      </div> 
    </div> 
  </div> 
  <div class="col-md-6"> 
    <%= render '/other/post_form' %> 

    <%  @posts.each  do |post|  %>
      <div class="panel panel-default"> 
        <div class="panel-body"> 
          <%= post.content %></p>
        </div> 
      </div> 
    <% end %> 
  </div> 
  <div class="col-md-3"> 

    <div class="panel panel-default"> 
      <div class="panel-body"> 
        <p> Hello </p> 
      </div> 
    </div> 
  </div> 
</div> 


